[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
datadotworld = {extras = ["pandas"], version = "*"}
pandas = "*"
requests = "*"
numpy = "*"
scipy = "*"
flask = "*"
google-cloud-secret-manager = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
