.DS_Store
Pods
server/node_modules/*
ios/Diet Science.xcworkspace/xcuserdata/bryanchan.xcuserdatad/UserInterfaceState.xcuserstate
ios/Diet Science.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
ios/Diet Science.xcodeproj/xcuserdata/bryanchan.xcuserdatad/xcdebugger/
ios/Diet Science.xcworkspace/xcshareddata/swiftpm/
server/dist/*
server/.serverless
server/src/config/sequelize-config.js

